.taskPage {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

.pageTitle {
  text-align: left;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

/* Topic Dropdown Styling */
.topicDropdown {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #fff;
}

.topicHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.topicHeader:hover {
  background-color: #ffe0b3;
}

.topicHeader.active {
  background-color: #ff9800;
  color: #fff;
}

.toggleIcon {
  font-size: 1.5rem;
  color: #666;
}

.topicContent {
  padding: 15px;
  font-size: 1rem;
  color: #555;
  background-color: #fff;
  line-height: 1.5;
}


.videoWrapper {
  margin-top: 20px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 62%;
  height: 62%;
  border: none;
}

.description {
  margin-top: 20px;
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.taskList {
  margin-top: 20px;
}

.taskItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.taskExpression {
  margin-right: 10px;
  font-size: 1.1rem;
  color: #333;
}

.answerInput {
  width: 60px;
  padding: 5px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.feedbackIcon.correct {
  color: green;
  margin-left: 10px;
}

.feedbackIcon.incorrect {
  color: red;
  margin-left: 10px;
}
