.payment-page {
  font-family: Arial, sans-serif;
  color: #004080;
  background-color: #f4f4f9;
}

/* Hero Section */
.hero-section {
  text-align: center;
  padding: 60px 20px;
  background-color: #336699;
  color: white;
}

.hero-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #f4f4f9;
}

.hero-section p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 20px auto;
  line-height: 1.6;
}

/* Table Section */
.table-section {
  text-align: center;
  margin: 40px 20px;
}

.table-section .heading {
  font-size: 28px;
  margin-bottom: 20px;
  color: #004080;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tableHeader {
  background-color: #34495e;
  color: #fff;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

.tableRow:nth-child(even) {
  background-color: #f2f2f2;
}

.tableCell {
  padding: 10px;
  border: 1px solid #ddd;
  color: #2c3e50;
}

.tableCell.paid {
  color: #27ae60;
  font-weight: bold;
}

.tableCell.pending {
  color: #e67e22;
  font-weight: bold;
}

.tableRow:hover {
  background-color: #ecf0f1;
}

/* Call-to-Action Section */
.cta-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #336699;
  color: white;
}

.cta-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #f4f4f9;
}

.cta-section p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 20px auto;
  line-height: 1.6;
}

.cta-button {
  background-color: #ffd700;
  color: #004080;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .cta-button a{
  background-color: #ffd700;
  color: #004080;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

} */


.cta-button:hover {
  background-color: #ffc107;
  color: #004080;
}
